* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-first {
  font-size: 52px;
  line-height: 64px;
}
.headline-second {
  font-size: 40px;
  line-height: 56px;
}
.headline-third {
  font-size: 32px;
  line-height: 40px;
}
.headline-fifth {
  font-size: 20px;
  line-height: 24px;
}
.headline-sixth {
  font-size: 16px;
  line-height: 24px;
}

.bodytext-18 {
  font-size: 18px;
  line-height: 32px;
}
.bodytext-18__s-bold {
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}
.bodytext-16 {
  font-size: 16px;
  line-height: 28px;
}
.bodytext-14 {
  font-size: 14px;
  line-height: 24px;
}
.bodytext-12 {
  font-size: 12px;
  line-height: 16px;
}

.main-block {
  background-image: url("./assets/cover.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-bottom: 40px;
}
.main-block__content {
  width: 40%;
  margin: auto;
  margin-top: auto;
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
}
.main-block__content > p {
  margin-top: 5%;
}
.main-block__content > button {
  margin-top: 15%;
}

.how-block {
  display: flex;
  width: 70%;
  text-align: center;
  margin: 40px auto;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.how-block > h2 {
  margin: auto;
}
.how-block__content {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: space-around;
}
.how-block__content > div {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 164px;
  margin: 100px 5px 0;
}
.how-block__content > div > img {
  display: flex;
  margin-bottom: 16px;
  width: 72px;
}
.how-block__content > div > h6 {
  display: flex;
  margin-bottom: 4px;
}
.how-block__content > div > p {
  display: flex;
  color: #5E646A;
}

.third-block {
  display: flex;
  width: 70%;
  margin: 40px auto;
  text-align: center;
  vertical-align: middle;
}
.third-block__text {
  display: inline-flex;
  width: 55%;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 5px;
  align-self: center;
  flex-direction: column;
  text-align: left;
}
.third-block__text > h3 {
  margin-bottom: 18px;
}
.third-block__text > p {
  color: #5E646A;
}
.third-block > img {
  width: 45%;
}

.comments-block {
  display: flex;
  width: 100vw;
  margin: 40px auto;
  padding: 50px 0;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  text-align: center;
  background-color: #F6F8FA;
}
.comments-block__content {
  width: 80%;
  margin: auto;
}
.comments-block__content > h2 {
  margin-bottom: 40px;
}
@media screen and (max-width: 900px) {
  .comments-block__content {
    width: 100%;
  }
}

.qna-block {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 40px auto;
  text-align: left;
  align-items: center;
}
.qna-block > h2 {
  text-align: center;
  margin-bottom: 60px;
}
.qna-block__content {
  display: flex;
  width: 90%;
  flex-direction: column;
}

.article-block {
  width: 100%;
  margin: 40px auto;
  background-color: #F6F8FA;
}
.article-block__content {
  padding: 70px 0;
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: repeat(2, auto);
  gap: 37px 32px;
}
.article-block__content-title {
  margin-bottom: 17px;
}

.form-block {
  display: flex;
  flex-direction: column;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 55%;
  margin: 40px auto;
  gap: 30px 0;
}
.form-block > h2 {
  text-align: center;
  margin-bottom: 15px;
}
.form-block__inputs {
  width: 100%;
  min-width: 600px;
  display: flex;
  margin: auto;
  gap: 32px;
}
.form-block__inputs > Input {
  display: inline-flex;
  width: 49%;
}
.form-block__submit {
  width: 100%;
  display: flex;
  margin: auto;
  gap: 32px;
  align-items: flex-start;
}
.form-block__submit > Button {
  display: inline-flex;
  justify-content: center;
  width: 49%;
  min-width: 252.5px;
}
.form-block__submit > label {
  display: inline-flex;
  width: 49%;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 250px;
  gap: 0 14px;
  align-items: center;
}
.form-block__checkbox {
  width: 36px;
}/*# sourceMappingURL=App.css.map */