//vars
$text-color-light: #ffffff;
$dark-grey: #5E646A;
$extra-light-grey: #F6F8FA;
$block-width: 70%;
$block-margin: 40px auto;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; 
  scrollbar-width: none;
  font-family: sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {

  &-first {
    font-size: 52px;
    line-height: 64px;
  }

  &-second {
    font-size: 40px;
    line-height: 56px;
  }

  &-third {
    font-size: 32px;
    line-height: 40px;
  }

  &-fourth {
    font-size: 24px;
    line-height: 32px;
  }

  &-fifth {
    font-size: 20px;
    line-height: 24px;
  }

  &-sixth {
    font-size: 16px;
    line-height: 24px;
  }
}

.bodytext {
  &-18 {
    font-size: 18px;
    line-height: 32px;

    &__s-bold{
      font-size: 18px;
      line-height: 32px;
      font-weight: 600;
    }

  }
  
  &-16 {
    font-size: 16px;
    line-height: 28px;
  }

  &-14{
    font-size: 14px;
    line-height: 24px;
  }

  &-12{
    font-size: 12px;
    line-height: 16px;
  }
}

.main-block {
  background-image: url('./assets/cover.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  min-height: fit-content;
  min-width: fit-content;
  margin-bottom: 40px;

  &__content {
    width: 47%;
    margin: auto;
    margin-top: auto;
    text-align: center;
    font-family: sans-serif;
    color: $text-color-light;

    &>p {
      margin-top: 5%;
    }

    &>button {
      margin-top: 15%;
    }

  }
}

@media screen and (max-width: 900px) {
  .main-block {

    &__content {

      width: $block-width;

      &>h1{
        font-size: 32px;
        line-height: 40px;
      }

      &>p {
        font-size: 16px;
        line-height: 28px;
      }

      &>button {
        margin-top: 40px;
      }
    }

  }
}

@media screen and (max-width: 500px) {
  .main-block {

    &__content {

      width: 90%;

      &>h1{
        font-size: 24px;
        line-height: 32px;
      }

      &>button {
        margin-top: 25px;
        min-width: 250px;
      }
    }

  }
}


.how-block {
  display: flex;
  width: $block-width;
  text-align: center;
  margin: $block-margin;
  flex-direction: column;
  height: fit-content;

  &>h2 {
    margin: auto;
  }

  &__content {
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: space-around;

    &-text {
      &>h6 {
        display: flex;
        margin-bottom: 4px;
      }

      &>p {
        display: flex;
        color: $dark-grey;
      }
    }
    &>div{
      display: flex;
      flex-direction: column;
      width: 20%;
      min-height: 164px;
      margin: 100px 5px 0;

      &>img {
        display: flex;
        margin-bottom: 16px;
        width: 72px;
      } 
    }
  }
}

@media screen and (max-width: 900px) {

  .how-block{
    width: 95%;

    &__content {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 35px;
      margin-top: 40px;

      &-text {
        display: inline-flex;
        flex-direction: column;
        width: fit-content;
        margin-left: 25px;
        &>p {
          width: fit-content;
        }
      }

      &>div{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        min-height: fit-content;
        margin:  0;

        &>img {
          display: inline-flex;
          width: 56px;
        }
      }

    }
  }
  
}

@media screen and (max-width: 500px) {
  .how-block {
    width: 90%;

    &>h2 {
      font-size: 24px;
      line-height: 32px;
    }

    &__content {
      grid-template-columns: repeat(1, auto);
    }
  }
  

}

.third-block {
  display: flex;
  width: $block-width;
  margin: $block-margin;
  text-align: center;
  vertical-align: middle;

  &__text {
    display: inline-flex;
    width: 55%;
    height: fit-content;
    margin-right: 5px;
    align-self: center;
    flex-direction: column;
    text-align: left;

    &>h3 {
      margin-bottom: 18px;
    }

    &>p{
      color: $dark-grey;
    }

  }
  
  &>img {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .third-block {
    width: 95%;

    &__text {

      &>h3 { 
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .third-block {
    flex-direction: column-reverse;
    width: 90%;
    

    &>img{
      width: 100%;
    }

    &__text {
      width: 100%;
      text-align: center;
    }
  }
}

.comments-block {
  display: flex;
  width: 100vw;
  margin: $block-margin;
  padding: 50px 0;
  height: fit-content;
  align-items: center;
  text-align: center;
  background-color: $extra-light-grey;

  &__content {
    width: 85%;
    margin: auto;

    &>h2 {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 900px){
    &__content {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px){
    &__content {

      &>h2 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

.qna-block {
  display: flex;
  flex-direction: column;
  width: $block-width;
  margin: $block-margin;
  text-align: left;
  align-items: center;

  &>h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    width: 90%;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .qna-block {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .qna-block {
    &>h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.article-block {
  width: 100%;
  margin: $block-margin;
  background-color: $extra-light-grey;

  &__content {
    padding: 70px 0;
    display: grid;
    width: $block-width;
    margin: auto;
    grid-template-columns: repeat(2, auto);
    gap: 37px 32px;

    &-title {
      margin-bottom: 17px;
    }
  }

  @media screen and (max-width: 900px) {
    
    &__content {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
  }
}

.form-block {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  width: 55%;
  margin: $block-margin;
  gap: 30px 0;

  &>h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  &__inputs {
    width: 100%;
    min-width: 600px;
    display: flex;
    margin: auto;
    gap: 32px;
    

    &>Input {
      display: inline-flex;
      width: 49%;
    }
  }


  &__submit {
    width: 100%;
    display: flex;
    margin: auto;
    gap: 32px;
    align-items: flex-start;

    &>Button {
      display: inline-flex;
      justify-content: center;
      width: 49%;
  
      min-width: 252.5px;
    }

    &>label{
      display: inline-flex;
      width: 49%;
      height: fit-content;
      min-width: 250px;
      gap: 0 14px;
      align-items: center;
    }
  }

  &__checkbox {
    width: 36px;
  }
}

@media screen and (max-width: 900px) {
    
  .form-block {
    width: 95%;
    gap: 38px 0;
    margin: 0 10px;

    &__inputs {
      min-width: 0;
      width: 100%;

      &>Input {
        min-width: fit-content;
      }
    }

    &__submit {
      min-width: fit-content;

      &>Button {
        min-width: fit-content;
      }
  
      &>label{
        min-width: fit-content;
      }
    }
  }

}

@media screen and (max-width: 500px) {
    
  .form-block {
    gap: 40px 0;

    &>h2 {
      font-size: 24px;
      line-height: 32px;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 40px 0;
    }

    &__submit {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      &>Button {
        margin: auto;
        width: 100%;
      }
    }
  }

}