//vars
$text-color-light: #ffffff;
$dark-grey: #5E646A;
$extra-light-grey: #F6F8FA;
$block-width: 70%;
$block-margin: 40px auto;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; 
  scrollbar-width: none;
  font-family: sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {

  &-first {
    font-size: 52px;
    line-height: 64px;
  }

  &-second {
    font-size: 40px;
    line-height: 56px;
  }

  &-third {
    font-size: 32px;
    line-height: 40px;
  }

  &-fifth {
    font-size: 20px;
    line-height: 24px;
  }

  &-sixth {
    font-size: 16px;
    line-height: 24px;
  }
}

.bodytext {
  &-18 {
    font-size: 18px;
    line-height: 32px;

    &__s-bold{
      font-size: 18px;
      line-height: 32px;
      font-weight: 600;
    }

  }
  
  &-16 {
    font-size: 16px;
    line-height: 28px;
  }

  &-14{
    font-size: 14px;
    line-height: 24px;
  }

  &-12{
    font-size: 12px;
    line-height: 16px;
  }
}

.main-block {
  background-image: url('./assets/cover.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  min-height: fit-content;
  min-width: fit-content;
  margin-bottom: 40px;

  &__content {
    width: 40%;
    margin: auto;
    margin-top: auto;
    text-align: center;
    font-family: sans-serif;
    color: $text-color-light;

    &>p {
      margin-top: 5%;
    }

    &>button {
      margin-top: 15%;
    }

  }
}

.how-block {
  display: flex;
  width: $block-width;
  text-align: center;
  margin: $block-margin;
  flex-direction: column;
  height: fit-content;

  &>h2 {
    margin: auto;
  }

  &__content {
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: space-around;
    //height: fit-content;
    

    &>div{
      display: flex;
      flex-direction: column;
      width: 20%;
      min-height: 164px;
      margin: 100px 5px 0;

      &>img {
        display: flex;
        margin-bottom: 16px;
        width: 72px;
      }

      &>h6 {
        display: flex;
        margin-bottom: 4px;
      }

      &>p {
        display: flex;
        color: $dark-grey;
      }
    }
  }
}

.third-block {
  display: flex;
  width: $block-width;
  margin: $block-margin;
  text-align: center;
  vertical-align: middle;

  &__text {
    display: inline-flex;
    width: 55%;
    height: fit-content;
    margin-right: 5px;
    align-self: center;
    flex-direction: column;
    text-align: left;

    &>h3 {
      margin-bottom: 18px;
    }

    &>p{
      color: $dark-grey;
    }

  }
  
  &>img {
    width: 45%;
  }
}

.comments-block {
  display: flex;
  width: 100vw;
  margin: $block-margin;
  padding: 50px 0;
  height: fit-content;
  align-items: center;
  text-align: center;
  background-color: $extra-light-grey;

  &__content {
    width: 80%;
    margin: auto;

    &>h2 {
      margin-bottom: 40px;
    }
  }
}

.qna-block {
  display: flex;
  flex-direction: column;
  width: $block-width;
  margin: $block-margin;
  text-align: left;
  align-items: center;

  &>h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  &__content {
    display: flex;
    width: 90%;
    flex-direction: column;
  }


}