@mixin btn($bg) {
  padding: 20px 40px;
  border-radius: 4px;
  border: none;
  background-color: $bg;
  cursor: pointer;
}

.main {
  @include btn(#ECEFF2);

  &:hover {
    @include btn(white);
    outline-offset: -1px;
    outline: 1px solid #C2C8CD;
  }
}

.form{
  @include btn(#2A6CEA);
  color: white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);

  &:hover {
    @include btn(#397DFF);
    box-shadow: none;
  }
}