.card {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  max-width: 340px;
  min-width: 200px;
  height: fit-content;
  min-height: 310px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 5px 24px rgb(0 0 0 / 10%);
  word-break: break-word;

  &:hover {
    box-shadow: 0 15px 24px rgb(0 0 0 / 10%);
  }

  &>p {
    display: flex;
    width: fit-content;
    margin-top: 4px;
  }
}

.head {
  display: flex;
  align-items: left;
  text-align: left;
  height: fit-content;
  width: 100%;
  align-items: flex-start;

  &>img {
    display: inline-flex;
    border-radius: 100%;
  }

  &>div {
    display: inline-flex;
    margin-left: 15px;
    flex-direction: column;

    &>p {
      display: flex;
      color: #5E646A;
    }
  }
  
}


@media screen and (max-width: 900px){
  .card {
    width: 45%;
    min-height: fit-content;
  }
}

@media screen and (max-width: 500px){
  .card {
    width: 85%;
    min-height: fit-content;
  }
}